#app {
    height: 100%;
}
html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #ffffff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 80%;
    height: 100%;
    margin: 0 2rem;
    margin: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    width: 22rem;
    height: 22rem;
    border-radius: 50px;
    background: #fffdfd;
}

.slide-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    height: auto;
}

.slide-container img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    transition: filter 0.3s ease;
}

.slide-container:hover img {
    filter: blur(2px) brightness(0.2);
}

.overlay {
    position: absolute;
    top: 42% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1rem;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    padding: 0.5rem;
    width: 90%;
}

.slide-container:hover .overlay {
    opacity: 1;
}

.slide-container a {
    display: block;
    width: 100%;
    height: 100%;
}

.slide-container a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: filter 0.3s ease;
}

.slide-container:hover a img {
    filter: blur(2px) brightness(0.2);
}

.swiper-pagination-bullet {
    background: black !important;
}

.swiper-pagination-bullet-active {
    background: black;
}

.swiper-pagination {
    margin-top: 8rem;
}

.text {
    margin-top: 1rem;
    text-align: center;
    width: 100%;
    max-width: 400px;
    padding: 0 1rem;
}

.image-container {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}